@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: black;
  color: rgb(244, 244, 245);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 48rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.mode-buttons {
  display: flex;
  gap: 1rem;
}

button {
  background: rgba(59, 131, 246, 0.167);
    border: 2px solid rgba(29, 79, 216, 0.441);  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
}

button:hover {
  /* background-color: rgb(63, 63, 70); */
  transform: scale(1.1);

}

button.active {
  background-color: #23cfee98;
}

.timer-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.timer-buttons {
  display: flex;
  gap: 0.5rem;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.stat span {
  color: #23cfee98;
}

.text-display {
  font-family: raleway;
  font-size: 1.125rem;
  line-height: 1.75;
  padding: 2rem;
  background: rgba(59, 131, 246, 0.038);
  border: 2px solid rgba(29, 79, 216, 0.153);  border-radius: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  cursor: text;
}

.text-display.code {
  white-space: pre;
}

.text-display.text {
  white-space: pre-wrap;
}

.text-display span {
  color: rgb(161, 161, 170);
}

.text-display span.correct {
  color: rgb(52, 211, 153);
}

.text-display span.incorrect {
  color: rgb(248, 113, 113);
}

.controls {
  display: flex;
  justify-content: center;
}

#resetButton {
  background-color: #23cfee98;
  padding: 0.5rem 1.5rem;
}

#resetButton:hover {
  background-color: #23cfee;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.back-btn img {
  width: 40px;
  /* Adjust the size as needed */
  height: 40px;
  transition: transform 0.3s;
  rotate: 90deg;
}

.back-btn img:hover {
  transform: scale(2.2);
  /* Slight zoom effect on hover */
}
a {
  color: #f00000;
  text-decoration: none;
}

.highlight-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 0%,
    rgba(28, 117, 206, 0.247),
    transparent 70%
  );
  pointer-events: none;
  z-index: -1;
}